html, body {
  overflow-x: hidden;
}

body {
  position: relative;
}


/* MAIN -----------------------------------------------*/

main {
  text-align: center;
}
 
 section {
   /* activate to view section dimensions
  background-color: purple;*/
  margin-top: 40px; 
}

/* section sizing */
.sm-section {
  min-height: 33vh;
}

.md-section {
  min-height: 66vh;
}

.lg-section {
  min-height: 99vh;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

.spacer {
  height: 100px;
}

/* INTRO -----------------------------------------------*/

#banner {
  max-height: 75vh;
  padding: 50px;
}

.section-line {
  height: 2px;
  background-color: #9400d3;
}

@media screen and (max-width: 600px) {
  #banner {
    max-height: 100%;
    min-height: 75%;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
    padding: 0px;
    padding-top: 50px;
  }
}

/* PAGE CONTENT -----------------------------------------*/

.column-wrap {
  width: 100%;
  display: flex;
}

.column1 {
  width: 50%;
}

.column2 {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .column-wrap {
  display: block;
}
.column1 {
  width: 100%;
}
.column2 {
  width: 100%;
}
}

/* COMPANY INFO ----------------------------------------*/

.logo {
  width: 50%;
  padding-bottom: 50px;
}

.info-line {
  height: 2px;
  background-color: purple;
  width: 65%;
}

#company-name {
  color: gold;
  padding-bottom: 25px;
}

#p-lg {
  font-size: 24px;
  color: gold;
  padding-top: 25px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 80%;
}
}

/* FORM -------------------------------------------------*/

/* Style form container */
.form-cont {
  border-radius: 5px;
  background-color: purple;
  padding: 20px;
  width: 85%;
  margin: auto;
  text-align: left;
  color: gold;
}

/* Style form fields */
input[type=text], input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style submit button */
.form-but {
  background-color: gold;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}

.form-but:hover {
  background-color: #4CAF50;
}

/* SIGN-OFF --------------------------------------------*/

/*designed by & contact*/
#contact-section {
  color: black;
  text-align: center;
  min-height: 33vh;
}

#contact-title {
  font-size: 28px;
}

.contact-links {
  height: auto;
  width: 25%;
  display: inline-block;
  padding: 20px;
}

.link-cont {
  float: left;
  width: 25%;
}

.contact-img {
  height: 75px;
  width: 75px;
}

#git-logo {
  height: 75px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .contact-links {width: 100%;}
  #contact-title {font-size: 21px;}
}